@model List<SalesRecordManagementSystem.Models.Business>

<h1>Welcome @User!.Identity!.Name!</h1>
<hr />
<h2>Businesses</h2>

<div>
    <a href="@Url.ActionLink("CreateBusiness","Business")" class="btn btn-primary">Create Business</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Business Name</th>
            <th>Business Email</th>
            <th>Business Type</th>
            <th>Business Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bus in @Model)
        {
            <tr>
                <td>@bus.Name</td>
                <td>@bus.Email</td>
                <td>@bus.Type</td>
                <td>@bus.Description</td>
            </tr>
        }
    </tbody>
</table>